@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "CooperBlack";
  src: url("./styles/cooper-std/CooperBlack-Std.otf") format("woff2"),
    url("./styles/cooper-std/CooperBlack-StdItal.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: "CooperBlack", sans-serif;
}

.home-bg {
  background-image: url("../public/assets/logo/bg-6.png");
  background-repeat: no-repeat, repeat;
  background-color: #000;
  background-position: center;
  background-size: contain;
}

.home-bg-2 {
  background-image: url("../public/assets/logo/home-bg-2.png");
  background-repeat: no-repeat, repeat;
  background-color: #000;
  background-position: center;
  background-size: cover;
}

.company-name {
  text-shadow: 1px 3px 2px #d7d1d2;
  color: #ffffff;
  letter-spacing: 2px;
  word-spacing: 2rem;
  margin-top: 12rem;
}

.about-company {
  font-weight: 400;
  max-height: 70vh;
  overflow: scroll;
  font-family: sans-serif;
  padding: 2rem;
  box-shadow: 1px 1px 10px 10px #0e0d0d30;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.product-listing-bg {
  background: url('../public/assets/logo/bg-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1200px) {
  .about-company {
    max-width: calc(100vw - 30vw);
  }
}

@media (max-width: 768px) {
  .home-bg {
    background-position: center !important;
    background-size: cover !important;
  }
  .company-name {
    text-shadow: 0px 0px 20px #000000 !important;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-top: 8rem;
    word-spacing: normal;
    line-height: .8;
  }
  .about-company {
    max-width: unset;
    padding: 10px;
    letter-spacing: normal;
    font-size: medium;
    text-shadow: 0px 0px 20px #000000 !important;
  }
}
